# List files you want to ignore here
/.DS_Store
/**/.DS_Store
3d_resources
/webapp/source/**/*.js
/webapp/*.js
/source/notes.txt
*.blend
*.tar.gz
biotite_app/**/*.png
biotite_app/**/*.jpg
biotite_app/**/*.mp3
*.pyc
*.blend1
**/__pycache__/**
**/webapp/proteinvr/**/*.js
**/webapp/proteinvr/*.js
docs
Babylonjs.old
tmp
old
influenza.good
webapp-compiled
scoria
*.cache
**/web/*
node_modules
rsync.sh
old2*
.vscode
biotite_app/build/
*.psd
dist/environs/**/*.log
dist/environs/**/*.txt
scene.log
update_node_etc.sh
TODO.md
*.old
from_playground
fetch_js_from_playground.sh
proteinvr_web_app.zip
dist
**/*.template.htm.ts
