/* .container {
  width: 100%;
  height: 100%;
}

.renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* See https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#container #renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  position: absolute;
  z-index: 2 !important;
  left: 0;
}

#container #renderCanvas.grab-icon {
    cursor: grab !important;
}

#container #renderCanvas.grab-icon:hover:active {
    cursor: grabbing !important;
}

#container #renderCanvas.no-grab {
    cursor: not-allowed !important;
}

#renderCanvas:focus {
  /* Make sure never any blue outline around canvas */
  outline: 0;
}


#container #capture-clicks {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  /* background-color: red; */
  z-index: 3 !important;
}

#babylonVRiconbtn,
.ui-button {
  z-index: 4;
  transition: transform 0.125s ease-out;
}

.ui-button:hover {
  transform: scale(1.05);
}

#babylonjsLoadingDiv {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.babylonVRicon {
  position: fixed;
}

/* Full screen, make sure no cursor. */

html:-moz-full-screen {
  cursor: none;
}

html:-webkit-full-screen {
  cursor: none;
}

html:-ms-fullscreen {
  cursor: none;
}

html:fullscreen {
  cursor: none;
}

#msgsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.msg {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.65);
  user-select: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  /* display: none; */
  text-align: center;

  /* transition: max-height 0.26s ease; */
}



/* .slide-enter-active,
.slide-leave-active {
  transition: 1s;
  height: 0;
}

.slide-enter,
.slide-leave-to {
  height: 0;
} */

/* To get the 2D menu working. */
.pad10 {
  padding: 10px;
}

.accrd div.btn {
  cursor: pointer;
}

.card {
  margin-top: -1px;
}

.inpath {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.modal-header {
  cursor: move;
}

.hidden-modal {
  background-color: transparent;
}

div.btn {
  overflow: hidden;
}

/* To make the modal skinny (for menu) */
.skinny-modal {
  max-width: 350px !important;
}

/* No selecting text */
* {
  user-select: none;
}

/* The button wrapper (to resize the 2D buttons on the front screen. */
#btnsWrapper {
  transform-origin: bottom right;
  position: absolute;
  z-index: 3 !important;
  right: 0;
  bottom: 0;
  width: 85px;
}

.menu2d-btn {
  width: 100%;
}

.accordion-panel {
  transition: max-height 5s ease;
  max-height: 6000px;

  /* transition: min-height 1s ease; */
  /* min-height:0; */

  /* height:300px; */
  overflow: hidden;
}

.accordion-panel.collapsed {
  max-height: 0;
  /* min-height:600px; */
}

.emoji {
  display: inline;
  margin-left: 5px;
  font-size: 12px;
  position: relative;
  bottom: 1px;
}

/* Fix tab widths. No good bootstrap4 class seems to get it just right. */
.px-tab-pvr {
  padding-left: 10px;
  padding-right: 10px;
}
