<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- <h3>
                Leader Sharing
            </h3> -->
            <p>
                Others can use the URL below to view the ProteinVR scene through your eyes:
            </p>
            <form role="form">
                <div class="form-group">

                    <!-- <label for="leaderURL">
                        Leader URL
                    </label> -->
                    <input type="text" class="form-control" id="leaderURL" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <img
             id="leaderURLQRCode"
             style="max-width: 200px; width: 100%; margin-left: auto; margin-right: auto; display: block;"
             src=""
             alt="QR code">
    </div>
</div>
