/* body {
  margin: 15px !important;
} */

#msg-container .form-group {
  word-break: break-word;
}

/* html {
    overflow-y: hidden;
} */


/* For the help (latex-based) system. */
#msg-container .wrapfig-r {
  max-width: 100%;
  /* float: right; */
  /* clear: both; */
  /* padding-left: 20px; */
  /* padding-bottom: 20px; */
  padding: 20px;
}

#msg-container img {
  width: 100%;
}

#msg-container .thinner-figure {
  max-width: 25%;
}

#msg-container .ptmb8t- {
  color: red;
  font-weight: bold;
}

#msg-container .wrapfig-r br {
  display: none;
}
